<h3 class="text-center mt-5">チーム一覧</h3>
<br><br>
<% @teams.each do |team|%>
    <p><%= image_tag team.image.url if team.image.present? %></p>
    <p>name:<%= team.name %></p>
    <p>description:<%= team.description %></p>
      <td><%= link_to 'チーム情報', team_path(team.id), class:'btn btn-primary' %></td><br>
<% end %>
<br><br><br><br>