<hr class="border-dark my-4">
<div class="form-group">
  <%- if controller_name != 'sessions' %>
    <%= link_to t(".sign_in"), new_session_path(resource_name) %><br />
  <% end -%>

    <div class="form-group">
    <%= link_to users_guest_sign_in_path, method: :post, class: 'btn btn-primary mx-auto d-block' do %>
      <i class="fa fa-hand-o-right"></i><span class="space">ゲストログイン(閲覧用)</span>
    <% end %>
    </div>

    <%- if controller_name != 'sessions' %>
      <%= link_to "アカウントをお持ちの方", new_session_path(resource_name), class: 'btn btn-info btn-block' %><br />
    <% end -%>
</div>
