<div class='main-image layer'>
<div class='layer-txt'>SoccerPub</div>
</div>
</div>


<p>SoccerPubは、サッカー好きが、試合ごとに様々な交流をすることができるプラットホームです</p><br>
<p>現地に足を運ぶことができないサポーターはTwitterなどで能動的に動かなければその熱狂を誰にも共有できない</p>
<p>そんな熱のあるサポーター達にとって、「ここに来れば、仲間が待っている。」そんな場所になります</p><br>
<p>遠く離れたクラブを応援する同胞と出会い、熱狂を共にすることが叶えます</p><br>