<br><br><br>


<div class = "tops_text-center" >
<div class='main-image layer'>
<div class='layer-txt'>SoccerPub</div>
</div>
<br>
<p>SoccerPubは、「ここに来れば、仲間が待っている」</p><br>
<p>試合ごとに交流や情報収集を行うことができる</p><br>
<p>サッカー好きが、交流をすることができるプラットホーム </p><br>
<p>遠く離れたクラブを応援する同胞と出会い、熱狂を共にすることを叶えます</p><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>