// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_index img {
  width: 150px;
  height: auto;
  border-radius: 50px;
}

.content_index {
  // position: absolute;
  // top: 50px;
  // left: 20%;
  // transform: translateY(-50%);
  margin-top: 50px;
  display: flex;
  flex-direction: column
}

.post_show {
  text-align: center;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}



.sid_content {
  flex-direction: column;
  margin: auto 0 ;
}

.index_container {
  display: flex;
  margin-left: 10%;
  
}


.content_target {
  margin-top: 30px;
  overflow: scroll;
  height: 600px;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.content_target h3 {
  text-align:center;
  margin-bottom: 20px;
}

.form_point {
  text-align: center;
}

.search_box  {
  flex-direction: row-reverse;
  
}
.search_box {
  text-align:center;
  margin-bottom: 20px;
}


.new_posts {
  text-align: center;
  margin: 30px;
}

.user_icon .small {
  flex-direction: row-reverse;
}

.icon_box .small {
  display: flex;
  flex-direction: row-reverse;
}

.like-btn {
  color: #9d9d9d;
  width: 50px;
  height: auto;
}

.like-btn-unlike {
  color: #d38eab;
  width: 50px;
  height: auto;
}

.center_box {
  text-align: center;
}

.post_show h2 .user_name a {
  color: blue;
  font-size: 2rem;
}

.box11 .team_image { 
  color: black;
  font-size: 1.3rem;
  border-bottom: blue;
}

.box11 .team_index { 
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.box11 .team_info {
  color: black;
  font-size: 1.3rem;
  border-bottom: 3px solid #000;
  // display: inline-block;
  // padding-bottom: 5px;
}
.box11 .team_point {
  color: black;
  font-size: 1.3rem;
  border-bottom: 3px solid #000;
  // display: inline-block;
  // padding-bottom: 5px;
}
.box11 .team_place {
  color: black;
  font-size: 1.3rem;
  border-bottom: 3px solid #000;
  // display: inline-block;
  // padding-bottom: 5px;
}
.box11 .team_match {
  color: black;
  font-size: 1.3rem;
  border-bottom: 3px solid #000;
  // display: inline-block;
  // padding-bottom: 5px;
}

.box11 .team_content_name {
  color: black;
  font-size: 1.3rem;
}

.box11 .team_content {
  display: block;
  padding: 20px 10px;
  text-align: left;
  color: black;
  font-size: 1.3rem;
  background-color: whitesmoke;
  // border-bottom: 3px solid #000;
  word-wrap: break-word;

  // display: inline-block;
  // padding-bottom: 5px;
}

.post_show .box11 p {
  margin-bottom: 10px;
}

.comments {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  width: 666;
  border-radius: 12px;
  background: #d7ebfe;
}

.comments_user {
  // display: inline-block;
  position: relative;
  margin-right: 83%;
  top: -66px;
}

.comments:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 15px solid #d7ebfe;
}

.edit_delete {
  margin-left: -77%;
  margin-bottom: 10px;
}


// .center_box p {
//   font-size: 1.6rem;
// }

// #comment_image {
//   padding-left: 30px;
// }

.buttons {
  display: inline-block;
  text-align: left;
  padding-left: 180px;
}

