// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box11 .team_name {
  color: black;
  font-size: 1.3rem;
  border-bottom: 5px solid #000;
  display: inline-block;
  padding-bottom: 5px;
}