<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">Menu</h2>
    <ul class="channel_list">
    <br>
    <br>
      <li><%= sidebar_link_item('マイページ', user_path(current_user.id)) %></li>
    <br> 
      <li><%= sidebar_link_item('試合一覧', games_path) %></li>
    <br> 
    </ul>
  </div>
</div> 